@use "../variables.scss" as *;

.anime-body {
    padding: 0;
    margin: 0;
    font-family: $Quicksand;
    line-height: 1.4;
    color: $dark;
    
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 1.2rem;
    }

    img {
        width: 100%;
        display: block;
    }

    .title {
        text-align: center;
        padding: 1rem 0;

        h2{
            font-family: $Playfair;
            font-size: 2.4rem;
        }

        p{
            text-transform: uppercase;
            padding: 0.6rem 0;
        }
    }
}